:root {
    --charcoal: #10141D;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 0 0 0;
}


header {
    padding: 16px 4px;
    background-color: #FFFF;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--charcoal);
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FFFF;
    border-radius: 16px;
    padding: 12px 8px;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    display: block;

}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--charcoal);
    margin: 5px 0;
}

.logo {
    color: var(--charcoal);
    font-size: 1.5rem;
    text-decoration: none;
}

.signup-mobile {
    display: none;
}

@media screen and (max-width:768px) {

    .signup-btn {
        display: none;
    }

    .signup-mobile {
        background-color: var(--charcoal);
        padding: 4px 0;
        font-weight: 600;
    }

    .signup-mobile a {
        color: #FFFF;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #FFFF;
        position: absolute;
        top: 85px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }

}





button {
    padding: 12px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 130ms ease-out;
}

button:hover {
    transform: scale(1.1);
}

.charcoal {
    background-color: #10141D;
    color: #FFFF;
}

.transparent {
    background-color: transparent;
    border: 2px solid #FFFF;
    color: #FFFF;
}

.grey {
    background-color: #e9e9e967;
    border: 2px solid #FFFF;
    color: #FFFF;
}

.landing-container {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url('./public/assets/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 8px;
    padding: 0 5%;
}

.landing-wrapper {
    color: #FFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 120px;
    padding-left: 60px;
    max-width: 80%;
}

.landing-wrapper h2 {
    color: #eeeeee;
    font-size: 1.2rem;
}

.landing-wrapper p {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 120%;
}

.landing-wrapper h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 130%;
}

@media screen and (max-width: 1024px) {
    .landing-wrapper {
        padding-left: 40px;
        max-width: 90%;
    }

    .landing-wrapper h1 {
        font-size: 2.5rem;
    }

    .landing-wrapper h2 {
        font-size: 1.1rem;
    }


}

@media screen and (max-width: 768px) {
    .landing-container {
        height: 60vh;
        align-items: center;
        text-align: center;
    }

    .landing-wrapper {
        padding: 20px;
        max-width: 100%;
    }

    .landing-wrapper h1 {
        font-size: 2rem;
        line-height: 120%;
    }

    .landing-wrapper h2 {
        font-size: 1rem;
    }

    .landing-wrapper p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .landing-container {
        height: 50vh;
        padding: 0 5%;
    }

    .landing-wrapper {
        padding: 10px;
    }

    .landing-wrapper h1 {
        font-size: 1.8rem;
    }

    .landing-wrapper h2 {
        font-size: 0.9rem;
    }

    .landing-wrapper p {
        font-size: 0.8rem;
        line-height: 1.4;
    }
}



.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 32px;
    padding-bottom: 96px;
}

.list-container .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.card-container {
    width: 450px;
}

@media screen and (max-width: 1024px) {
    .card-container {
        width: 350px;
    }

}

.card-wrapper {
    flex: 1 1 calc(33.333% - 24px);
    padding: 8px;
    cursor: pointer;
    transition: 120ms;
}

.card-wrapper:hover {
    scale: 102%;
    border-radius: 16px;
    transition: 120ms;
}

.card-wrapper p {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.card-wrapper h2 {
    line-height: 150%;
    letter-spacing: 0.3px;
}

.card-wrapper img {
    border-radius: 16px;
    width: 100%;
}

.author-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.profile-picture {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
}

.hidden-post {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 230ms ease-in-out, opacity 0.3s ease-in-out;
}

.hidden-post.show {
    max-height: 500px;
    opacity: 1;
}

footer {
    border-radius: 16px;
    background-color: var(--charcoal);
    color: #FFFF;
    padding: 32px 40px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-wrapper h2 {
    margin-top: 32px;
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

.footer-wrapper p {
    line-height: 200%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 32px 0;
}

.copiright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.copiright-wrapper p {
    font-size: 14px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer ul a {
    color: #FFFF;
    font-weight: 400;
    font-size: 14px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 72px 32px;
}