:root {
    --charcoal: #10141D;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 0 0 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
    background-color: #FFFF;
}

.logo{
    font-size: 1.3rem;
    color: var(--charcoal);
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--charcoal);
    font-weight: 600;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    left: 0;
    top: 100%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 200ms ease, transform 200ms ease;
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    color: var(--charcoal);
    padding: 8px 12px;
    display: block;
}

.dropdown-menu li:hover {
    background: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

button {
    padding: 12px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 130ms ease-out;
}

button:hover {
    transform: scale(1.1);
}

.charcoal {
    background-color: #10141D;
    color: #FFFF;
}

.transparent {
    background-color: transparent;
    border: 2px solid #FFFF;
    color: #FFFF;
}

.grey {
    background-color: #e9e9e967;
    border: 2px solid #FFFF;
    color: #FFFF;
}

.landing-container {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url('../../../public/assets/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 8px;
}

.landing-wrapper h2 {
    color: #eeeeee;
}

.landing-wrapper h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 130%;
}

.landing-wrapper p {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 120%;
}

.landing-wrapper {
    color: #FFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 120px;
    padding-left: 60px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 32px;
    padding-bottom: 96px;
}

.list-container .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.cards-list-wrapper {
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    padding: 8px;
    cursor: pointer;
    transition: 120ms;
}

.card-wrapper:hover {
    scale: 102%;
    border-radius: 16px;
    transition: 120ms;
}

.card-wrapper p {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.card-wrapper h2 {
    line-height: 150%;
    letter-spacing: 0.3px;
}

.card-wrapper img {
    border-radius: 16px;
}

.author-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.profile-picture {
    width: 24px;
    height: 24px;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
}

.hidden-post {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 230ms ease-in-out, opacity 0.3s ease-in-out;
}

.hidden-post.show {
    max-height: 500px;
    opacity: 1;
}

footer {
    border-radius: 16px;
    background-color: var(--charcoal);
    color: #FFFF;
    padding: 32px 40px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-wrapper h2 {
    margin-top: 32px;
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

.footer-wrapper p {
    line-height: 200%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 32px 0;
}

.copiright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.copiright-wrapper p {
    font-size: 14px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer ul a {
    color: #FFFF;
    font-weight: 400;
    font-size: 14px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 72px 32px;
}