:root {
    --charcoal: #10141D;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 2%;
}

header {
    padding: 16px 4px;
    background-color: #FFFF;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--charcoal);
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FFFF;
    border-radius: 16px;
    padding: 12px 8px;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    display: block;

}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--charcoal);
    margin: 5px 0;
}

.logo {
    color: var(--charcoal);
    font-size: 1.5rem;
    text-decoration: none;
}

.signup-mobile {
    display: none;
}

@media screen and (max-width:768px) {

    .signup-btn {
        display: none;
    }

    .signup-mobile {
        background-color: var(--charcoal);
        padding: 4px 0;
        font-weight: 600;
    }

    .signup-mobile a {
        color: #FFFF;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #FFFF;
        position: absolute;
        top: 85px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }

}

button {
    padding: 12px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 130ms ease-out;
}

button:hover {
    transform: scale(1.1);
}

.charcoal {
    background-color: #10141D;
    color: #FFFF;
}

.transparent {
    background-color: transparent;
    border: 2px solid #FFFF;
    color: #FFFF;
}

.grey {
    background-color: #e9e9e967;
    border: 2px solid #FFFF;
    color: #FFFF;
}

footer {
    border-radius: 16px;
    background-color: var(--charcoal);
    color: #FFFF;
    padding: 32px 40px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-wrapper h2 {
    margin-top: 32px;
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

.footer-wrapper p {
    line-height: 200%;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 32px 0;
}

.copiright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.copiright-wrapper p {
    font-size: 14px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer ul a {
    color: #FFFF;
    font-weight: 400;
    font-size: 14px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 72px 32px;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 64px 0 64px 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    align-items: center;
}

.title-wrapper {
    text-align: center;
    padding: 0 24px;
}

.title-wrapper h1 {
    color: var(--charcoal);
    line-height: 130%;
    letter-spacing: 0.5px;

}

.title-wrapper p {
    color: #69696967;
    font-size: 14px;
    line-height: 125%;
}

.credentials-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.credentials-wrapper a {
    color: var(--charcoal);
    font-size: 14px;
}

.credentials-wrapper a {
    text-align: end;
}

.credentials-wrapper input {
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    background-color: #f5f5f5;
}

#email {
    background-image: url('../../../public/assets/email.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
}

#password {
    background-image: url('../../../public/assets/lock.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 14px;
}

input:focus {
    outline: 2px solid var(--charcoal);
}

input:invalid {
    outline: 2px solid red;
}

.nocredentials-wrapper {
    display: flex;
    flex: row;
    justify-content: space-between;
    width: 100%;
}

.nocredentials-wrapper div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    margin: 0 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
}

.nocredentials-wrapper div img {
    scale: 120%;
}

.line-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.line-wrapper hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.line-wrapper p {
    white-space: nowrap;
    margin: 0;
    font-size: 14px;
    color: #666;
}